* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    color: #161616;
    font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#root{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* GENERAL STYLING */

.page-container{
    padding: 1em;
}

p{
    line-height: 1.5;
}

/* BUTTONS */

.cta-btn{
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
    padding: .5em;
    border-radius: 8px;
    cursor: pointer;
}

.short{
    width: fit-content;
    padding: 1em;
}

.orange-btn{
    background: #FF8C38;
}

.black-btn{
    background: #161616;
}

.filter-btn{
    padding: .75em;
    background: #FFEAD0;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

nav a{
    color: #4d4d4d;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
    font-weight: bold;
    text-underline-offset: .2em;
}

nav a:active{
    text-decoration: underline;
    font-weight: bold;
    text-underline-offset: .3em;
}

.logo{
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 900;
    color: #000;
}

/*  FOOTER  */


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #252525;
    color: #AAAAAA;
    padding: .75em;
    margin-top: auto;
}

/* Home Page */

.hero-container{
    background: url("./assets/images/home-hero.png") no-repeat center center;
    background-size: cover;
    color: white;
    padding: 1em;
}

.hero-container > h1, .hero-container > p {
    text-shadow: 3px 3px 3px black;
}



/* ABOUT */

.about-hero-img{
    width: 100%;
}

.about-page-content p{
    font-weight: 500;
}

.about-page-cta{
    background-color: #FFCC8D;
    padding: 1em;
    border-radius: 5px;
    max-width: 600px;
    margin: 2rem auto;
}

/* VANS PAGE */

.van-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    margin-top: 1em;
}

.van-image{
    width: 100%;
}
